:root {
    --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
    --gray: #34495e;
    --darkgray: #2c3e50;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    border-radius: .25em;
    overflow: hidden;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em; /* Устанавливаем ширину для корректного выравнивания */
    height: 100%;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}


header {
    position: sticky;
    top: 0;
    z-index: 10; /* Более высокий z-index, чтобы header оставался поверх других элементов */
    background-color: var(--darkgray); /* Фон для видимости */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для отделения от контента */
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    height: 100px;
    color: #fff;
    font-weight: 900;
}



.header-logo {
    font-family: "Kode Mono", sans-serif;
    text-decoration: none;
    color: #fff;
    letter-spacing: 12px;

}

.header__search {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* nav */
.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 40px;
}

@media (max-width: 480px) {
    .header-content {
        height: 80px;
    }
}

/* header logo */
.key {
    font-size: 50px;
    display: inline-block;
    letter-spacing: -1vw;
    transition: transform 0.2s;
}



@keyframes pressDown1 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown2 {
  70%,
  80%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes pressDown3 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(10px);
  }
}

@keyframes pressDown4 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(10px);
  }
}

@keyframes pressDown5 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
}

@keyframes pressDown6 {
  60%,
  70%,
  100% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(10px);
  }
}

@keyframes pressDown7 {
  10%,
  20%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(10px);
  }
}

@keyframes pressDown8 {
  35%,
  45%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
}



.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(6) {
  animation: pressDown6 3.5s infinite;
}

.key:nth-child(7) {
  animation: pressDown7 2.2s infinite;
}

.key:nth-child(8) {
  animation: pressDown8 3.2s infinite;
}


@media (max-width: 480px) {
    .key {
        font-size: 30px;
    }

    .header-logo {
        font-family: "Kode Mono", sans-serif;
        text-decoration: none;
        color: #fff;
        letter-spacing: 0px;
    }
}